<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<table id="top" style="width:500px" border="1">
<tr><td colspan="2"><h2>encore-shop</h2></td></tr>
<tr><td id="left" style="width:150px;height:400px">
<div v-if="logstat">
<h3>login</h3>
<input v-model="id" placeholder="id를 입력하시오 "><br/>
<input v-model="pwd" placeholder="pwd를 입력하시오 "><br/>
<button v-on:click="login">로그인</button>
<a :href="join">회원가입</a>
</div>
<div v-else>
{{logtypes}}메뉴
<button @click="logout">로그아웃</button>
</div>
</td>
<td id="right" style="width:350px;height:400px">
<div id="list" v-if = "!logstat">
<h3>{{title}}</h3>
{{lst}}
</div>
</td>
</tr>
</table>
<script type="text/javascript" src="./indexvue.js">


</script>
</body>
</html>